/* Universal style for both pages for headers and  */

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    margin: 0;
}

header {
    height: 10vh;
    border-bottom: 10px double rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header p {
    font-size: 30px;
    margin: 1%;
    z-index: 1
}

.head p:hover {
    cursor: pointer 
}



